@import url("https://fonts.cdnfonts.com/css/roobert");

* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: #193b4d;
}
form {
  background-color: whitesmoke;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "Roobert", sans-serif;
  padding-top: 1rem;
}
.jss190 {
  height: 1.2rem;
  margin: 0 0 0 1rem;
}

fieldset {
  background-color: #e2fca4;
  border-radius: 10px;
  border: 1px solid grey;
}
.input-container {
  padding: 10px 10px;
}
@media only screen and (min-width: 768px) {
  fieldset {
    padding: 1rem 0 !important;
  }
}
